body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%; 
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh; 
}

#brain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26%; 
    height: 36%;
}

#switch {
    position: absolute;
    right: 0;
    width: 20%; 
    max-width: 130px; 
    height: 30%; 
    max-height: 300px; 
    z-index: 3;
    margin: 5em; 
}

#page {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}

#text {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgb(217, 239, 247);
    z-index: -1;
    top: 25%; 
    left: 25%; 
}
